body {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	line-height: 1.5rem;
}

h1 {
	font-size: 1.875rem;
	color: #626262;
}

.header {
	margin: 70px 0;
}

.container {
	max-width: 1060px;
	padding: 0;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.menu__item {
	display: inline-block;
	margin-left: 100px;
}

.menu__item a {
	color: #626262;
	text-transform: uppercase;
}

.main_article {
	margin-bottom: 135px;
}

.main_article .container {
	max-width: 900px;
}

.main_article img {
	display: block;
	width: 100%;
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}

.a_cat,
.a_com {
	font-family: 'Ubuntu', monospace;
	text-transform: uppercase;
	color: #b4ad9e;
	font-weight: 300;
	margin: 30px 0;
}

.a_title {
	margin-bottom: 40px;
}

.a_text {
	color: #626262;
}

.a_com:hover {
	color: #b4ad9e;
}

.articles .container {
	max-width: 900px;
}

.articles .row {
	margin-bottom: 130px;
}

.articles__item {
	max-width: 420px;
	/*margin-right: 60px;*/
}

.articles img {
	display: block;
	width: 100%;
	max-width: 420px;
}

.load {
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-bottom: 150px;
	border: 1px #626262 solid;
	padding: 9px 5px;
	color: #626262;
	width: 147px;
}

.load:hover {
	color: #626262;
}

.subscribe {
	width: 100%;
	height: 330px;
	background-color: #f0f0f0;
	text-align: center;
	padding: 50px 0;
}

.subscribe h1 {
	color: #333333;
}

.subscribe input {
	border: none;
	width: 360px;
	border-bottom: 1px solid #333333;
	background-color: #f0f0f0;
	margin: 30px auto;
	padding: 10px 5px;
}

.sign_up {
	display: block;
	margin: 20px auto 0;
	padding: 10px 50px;
	border: none;
	background-color: #b4ad9e;
	transition: background-color 0.5s ease;
}

.sign_up:hover {
	background-color: #e3dac5;
}

footer {
	height: 100px;
	background: #f0f0f0;
}

.terms,
.privacy {
	color: #626262;
	margin-right: 50px;
}

.terms:hover,
.privacy:hover {
	color: #626262;
}

.row ul li {
	display: inline-block;
}

.row i {
	font-size: 1.3rem;
	margin-left: 25px;
	color: #626262;
}

@media only screen and (max-width : 768px) {

	html {
		overflow-x: hidden;
	}

	.logo {
		display: block;
		margin: 0 auto 50px;
	}

	.menu {
		max-width: 700px;
		text-align: center;
		margin: 0 auto;
		float: none;
	}

	.menu__item {
		margin: 0 10px;
	}

	.main_article .container,
	.articles__item {
		padding: 0 30px;
	}

	.main_article img {
		margin: 0;
	}

	.articles .row {
		margin-bottom: 0;
	}

	.articles__item {
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.load {
		margin: 25px auto 85px;
	}

	.subscribe h1 {
		padding: 0 30px;
	}

	.subscribe input {
		width: 80%;
	}

	footer {
		text-align: center;
	}

	.privacy {
		margin-right: 0;
	}

	footer .container .row {
		margin: 0 auto;
	}

	footer .social {
		margin-top: 25px;
		padding: 0;
	}

	footer .social i {
		margin: 0 25px;
	}
}