$accent-color: #006c86;

@mixin container {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
}

@mixin button {
    background-color: $accent-color;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    padding: 9px 60px;
    width: 175px;
    box-sizing: border-box;
    text-align: center;

    &:hover {
        background-color: rgb(35, 168, 199);
        ;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-image: url('../../img/bg.png');
    background-repeat: repeat-x;
    background-color: #ededed;
    background-size: auto;
    height: auto;
    z-index: 1;
}

.bottom-background {
    background-image: url('../../img/bg.png');
    background-repeat: repeat-x;
    background-size: auto;
    transform: scaleX(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;

}

/*================================================================ HEADER START =================*/

.header {
    .lang-change-container {
        display: flex;
        align-items: center;
        height: 45px;
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

        .lang-change {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            width: 940px;
            padding: 0 20px;
            margin: 0 auto;

            li {
                margin-left: 5px;

                a {
                    text-decoration: none;
                    color: #5f5f5f;
                    padding: 7px 9px;
                    background-color: #f7f7f7;
                    border-radius: 5px;

                    &:hover {
                        background-color: #5f5f5f;
                        color: #fff;
                    }
                }

                .present {
                    background-color: #5f5f5f;
                    color: #fff;
                }
            }
        }
    }

    .header-bg {

        width: 100%;
        opacity: 0.5;
        height: 300px;
        position: absolute;
        z-index: -5;
    }

    .container {
        @include container;
        display: flex;
        flex-direction: column;

        .header-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;

            .logo {
                width: 250px;
                text-align: center;

                p {
                    font-size: 36px;
                    color: #fff;
                    padding: 10px 15px;
                    background-color: #969696;
                    border: 10px solid #deddde;
                    border-radius: 50%;
                    margin-top: -25px;
                    font-weight: 600;
                }
            }

            .links-list {
                display: flex;
                list-style-image: url('../../img/links_icon.png');
                text-transform: uppercase;

                ul {
                    margin: 20px 0;
                    max-width: 650px;
                    width: 100%;
                    column-count: 3;

                    li {
                        max-width: 260px;
                        margin-bottom: 5px;
                        margin-left: 30px;

                        a {
                            text-decoration: none;
                            color: #333333;

                            &:hover {
                                color: $accent-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*================================================================ HEADER END =================*/

/*================================================================ NAV START =================*/

.topnav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    a {
        justify-content: flex-start;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        padding: 16px 22px;
        text-decoration: none;
        border-left: 2px solid #4e4853;
        border-right: 1px solid #919191;
        background-color: #616161;

        &:nth-child(2) {
            border-left: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-right: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &:hover {
            background-color: #a9a9a9;
        }
    }

    .icon {
        display: none;
    }
}

/*================================================================ NAV END =================*/

/*================================================================ FORM START =================*/

.form {
    margin-bottom: 20px;

    .container {
        @include container;
        padding: 20px;
        padding-right: 40px;
        box-sizing: border-box;
        background-color: #ccc;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        h2 {
            font-variant: small-caps;
            font-size: 24px;
            font-weight: 400;
        }

        .inner-container {
            display: flex;
            justify-content: space-between;

            .inputs {
                max-width: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                label {
                    margin: 10px 0;
                    font-variant: small-caps;
                    width: 130px;
                    display: block;
                }

                input {
                    border: 2px solid #6f6f6f;
                    padding: 5px 10px;
                    font-size: 14px;
                    box-sizing: border-box;
                }

                .items-large {
                    input {
                        max-width: 100%;
                        width: 280px;
                    }
                }

                .items-regular {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    input {
                        max-width: 130px;
                        width: 100%;
                    }

                    .btn-submit {
                        @include button;
                        margin-top: 15px;
                    }
                }


            }
        }

        .banner {
            display: flex;
            flex-direction: column;
            max-width: 295px;
            margin: auto 0;
            padding: 20px;
            background-color: #f4f4f4;
            border-radius: 4px;
            height: auto;
            -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39);
            -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39);
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.39);

            p {
                font-size: 14px;
                font-family: 'Arial', sans-serif;
                margin-bottom: 15px;
            }

            .btn-more {
                @include button;
                margin: 0 auto;
            }
        }
    }
}

/*================================================================ FORM END =================*/

/*================================================================ CARDS START =================*/

.cards {
    .container {
        @include container;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .cards-item {
            border-radius: 4px;
            max-width: 300px;
            width: 100%;
            margin-bottom: 20px;

            .image {
                background-color: #969696;
                height: 170px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .description {
                height: auto;
                background-color: #fff;
                padding: 13px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                h3 {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    font-family: 'Arial', sans-serif;
                    font-size: 13px;
                    word-break: break-all;
                }
            }
        }
    }
}

/*================================================================ CARDS END =================*/

/*================================================================ SMALL-CARDS START =================*/

.small-cards {
    .container {
        @include container;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
            max-width: 140px;
            width: 100%;
            height: 100px;
            background-color: #6f6f6f;
            margin-bottom: 20px;
        }
    }

    #loadMore {
        display: none;
        margin: 0 auto;
        text-align: center;
        width: 40px;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        color: $accent-color;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 2px dashed $accent-color;
    }
}

/*================================================================ SMALL-CARDS END =================*/

/*================================================================ ORDER-CARDS START =================*/

.order-cards {
    margin-bottom: 170px;

    .container {
        @include container;
        box-sizing: border-box;
        padding: 37px 20px 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 4px;
        height: auto;
        background-color: #727272;

        div {
            max-width: 280px;
            width: 100%;
            background-color: #ccc;
            padding: 8px 15px;
            box-sizing: border-box;
            margin-bottom: 15px;
        }

        .item-1,
        .item-2,
        .item-3 {
            background-color: #fff;
            border: 2px solid #fff;
            border-spacing: 10px;
        }
    }
}